@keyframes borderColorAnimation {
    0% {
        border-color: green;
    }
    50% {
        border-color: yellow;
    }
    100% {
        border-color: red;
    }
}
.catcontainer {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px; /* Ajusta el tamaño máximo para pantallas grandes */
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    overflow: hidden; /* Prevents scrolling */
}

.container {
    text-align: center;
    position: relative; /* To position elements absolutely within */
    width: 100%;
    height: 100%;
}

.letter-box {
    font-size: 4em;
    margin-bottom: 20px;
    border: 5px solid transparent;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: none;
    position: absolute; /* Allows precise positioning */
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%); /* Centers the element */
}

.generate-button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    margin-bottom: 20px;
    position: absolute; /* Allows precise positioning */
    top: 70%;
    left: 45%;
	width: 40%;
    transform: translate(-50%, -50%); /* Centers the element */
}

.catgenerate-button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    margin-bottom: 20px;
    position: absolute; /* Allows precise positioning */
    top: 60%;
    left: 45%;
	width: 40%;
    transform: translate(-50%, -50%); /* Centers the element */
}

.used-letters-box {
    margin-top: 20px;
    font-size: 1.5em;
    position: absolute; /* Allows precise positioning */
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centers the element */
}

.progress-container {
  width: 100%;
  background-color: #f3f3f3;
  border-radius: 25px;
  height: 30px;
  margin: 20px 0;
  overflow: hidden;
}

.progress-bar {
  width: 0;
  height: 100%;
  background-color: #4caf50;
  border-radius: 0px;
  transition: width 0.1s ease-in-out;
}




/* Modal Styling */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fff;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  text-align: center;
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

h1 {
    color: #333;
    font-size: 24px;
}

form {
    margin-bottom: 20px;
}

#categoryList {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    max-height: 300px;
    overflow-y: auto;
    padding: 10px;
    border: 1px solid #ddd;
}

button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%; /* El botón ocupará todo el ancho en móviles */
}

button:hover {
    background-color: #218838;
}

#selectedCategories {
    margin-top: 20px;
    font-size: 18px;
}

/* Media queries para pantallas móviles */
@media (min-width: 600px) {
    #categoryList {
        grid-template-columns: 1fr 1fr; /* 2 columnas para pantallas más grandes */
    }
}

@media (max-width: 400px) {
    h1 {
        font-size: 20px; /* Reduce el tamaño del título en pantallas pequeñas */
    }

    button {
        padding: 10px; /* Botón más pequeño en pantallas pequeñas */
    }
}
#randomCategoryButton {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    width: 100%; /* El botón ocupará todo el ancho en móviles */
}

#randomCategoryButton:hover {
    background-color: #0056b3;
}

#randomCategoryDisplay {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}
